.div__album {
  align-items: center;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 5px;
  padding: 50px;
  width: 250px;
}

.div__pai--album {
  display: flex;
  flex-wrap: wrap;
}
